@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ECE9E2;
  --foreground: #333;
  --pink: #F7D3D3;
  --green: #E4F0E6;
  --purple: #E2D8FA;
  --yellow: #FCE6A9;
  font-family: var(--font-plex-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
